html,
body {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page1 {
  width: 60%;
  margin-top: 200px;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 55px;
}

#clickToBottom {
  width: 100%;
  background: none;
  border: 0;
  outline: 0;
}

.pg1_button {
  width: 35%;
  margin: 0px;
  padding: 0px;
  filter: drop-shadow(0 1.5px 2px rgba(43, 115, 230, 0.9));
}

.page2,
.page3,
.page4 {
  width: calc(100%-27vw);
  margin-top: 100px;
  padding-left: 11vw;
  padding-right: 14vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page2 > img,
.page3 > img,
.page4 > img {
  position: relative;
  width: 50%;
  margin-left: 2vw;
  margin-right: 2vw;
}

.page5 {
  width: calc(100%-40vw);
  margin-top: 100px;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page5 > img {
  position: relative;
  width: 33%;
  margin-left: 5vw;
  margin-right: 5vw;
}

.page6 {
  width: 50%;
  margin-top: 150px;
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.page6 > img {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
}
form > input {
  margin-top: 1vw;
  width: 30vw;
  height: 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: 1px solid #dcdcdc;
  box-shadow: none;
}
form > button {
  margin-top: 3vw;
  margin-bottom: 10vw;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 1.5vw;
  height: 4vw;
  border: 2px solid #1e90ff;
  background-color: white;
  border-radius: 0.7vw;
  color: #1e90ff;
}
